<!DOCTYPE html>
<html>
    <head>
        <title>Fact Machine</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    </head>
    <body>
    <center>
        <br><br><br><br>
        <h1>Fact Machine</h1>
        <p>Ask server facts about [cat, dog, mouse]:</p>

        <form id="myForm" method="get">
            <input id="txt1" name="txt1"></input>
            <button id="btn">Ask</button>

            <p id="pickMe"></p>
        </form>
        <%- animal %>:
        <%- info %>
        <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
        <script type="text/javascript" src="https://code.jquery.com/ui/1.11.4/jquery-ui.min.js"></script>
        <script src="index.js"></script>
    </center>
    </body>
</html>